# Ignore dependencies
node_modules/

# Ignore production builds
dist/
build/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore local IDE/editor config
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
